---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/cash%20dispenser.json?key=<Authorization>&lat=37.586297&lon=-79.051824&radius=1000&relatedPois=off
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 1aa46dc8-1930-477a-af5e-822e897973db
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - e877e4ad-2320-44ae-9128-e88af73ec842
      X-Tomtom-Upstream-Service-Time:
      - '38'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"cash dispenser","queryType":"NON_NEAR","queryTime":24,"numResults":5,"offset":0,"totalResults":5,"fuzzyLevel":1,"geoBias":{"lat":37.586297,"lon":-79.051824}},"results":[{"type":"POI","id":"loJsAe-tn1ML6_DGBTcRww","score":5.6639614105,"dist":0,"info":"search:ta:840519002452165-US","poi":{"name":"Bank
        Of The James","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"164","streetName":"South Main Street","municipality":"Amherst","countrySecondarySubdivision":"Amherst","countrySubdivision":"VA","countrySubdivisionName":"Virginia","countrySubdivisionCode":"VA","postalCode":"24521","extendedPostalCode":"24521-2642","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"164 South Main Street,
        Amherst, VA 24521","localName":"Amherst"},"position":{"lat":37.586297,"lon":-79.051824},"viewport":{"topLeftPoint":{"lat":37.5872,"lon":-79.05296},"btmRightPoint":{"lat":37.5854,"lon":-79.05069}},"entryPoints":[{"type":"main","position":{"lat":37.58619,"lon":-79.05163}}]},{"type":"POI","id":"QYZ1UScWfGxP6CVojMGYSQ","score":5.6639494896,"dist":129.949019,"info":"search:ta:840519002363168-US","poi":{"name":"First
        National Bank","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"130","streetName":"South Main Street","municipality":"Amherst","countrySe[...]
